@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

body{
   font-family: "Noto Sans", sans-serif;
    /* font-family: "BBH Bartle", sans-serif; */
}